[core]
	editor = vim 
[column]
	ui = auto
[user]
	name = Manuel Bergler
	email = manue1@github.com
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAINJ9iozddSODYwqsFUD2TptFETYAiTjgGPIFsZTAWSi0
[branch]
	sort = -committerdate
[tag]
	sort = version:refname
[commit]
	gpgsign = true
	verbose = true
[alias]
	st = status --short -uno
	ci = commit
	ca = commit --amend
	caa = commit -a --amend
	br = branch
	co = checkout
	df = diff
	lg = log -p --pretty=fuller --abbrev-commit
[gpg]
	program = gpg
[url "git@github.com:"]
	insteadOf = https://github.com/
[diff]
	algorithm = histogram
	colorMoved = plain
	mnemonicPrefix = true
	renames = true
[push]
	default = simple
	autoSetupRemote = true
	followTags = true
[fetch]
	prune = true
	pruneTags = true
	all = true
[pull]
	rebase = false
[init]
	defaultBranch = main
[rerere]
	enabled = true
	autoupdate = true
[rebase]
	autoSquash = true
	autoStash = true
	updateRefs = true
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
